.SkillsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: calc(1rem + 2vw);
    background-color: var(--tertiary-color);
    div {
        padding: calc(1rem + 2vw);
        flex-basis: 40rem;
        flex-grow: 1;
        h3 {
            font-size: 3rem;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        h4 {
            font-size: 2rem;
            color: white;
        }
    }
}
.ProgressBar {
    display: block;
    border-radius: 3rem;
    background-color: var(--primary-color);
    width: 90%;
    margin-bottom: 2rem;
    max-width: calc(60rem + 2vw);
    span {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 2rem;
        width: 100%;
        &::after {
            border-radius: 3rem;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 90%;
            padding: 1rem;
            background-color: var(--secondary-color);
            animation: progress 4s infinite cubic-bezier(1, 0, 0, 1);
        }
    }
}
@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
