.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: calc(2rem + 2vw);
    background-color: var(--tertiary-color);
    .skill {
        padding: calc(2rem + 2vw);
        flex-basis: 40rem;
        flex-grow: 1;
        &-title {
            font-size: 3rem;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        & h4 {
            font-size: 2rem;
            color: white;
        }
        &-progress {
            position: relative;
            display: block;
            padding: 0.5rem;
            border-radius: 3rem;
            background-color: var(--primary-color);
            width: 100%;
            margin-bottom: 2rem;
            & span {
                overflow: hidden;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                height: 2rem;
                border-radius: 1rem 0 0 1rem;
                background-color: var(--secondary-color);
                animation: progressBarr 4s infinite cubic-bezier(1, 0, 0, 1);
            }
        }
    }
}
@keyframes progressBarr {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.skills__design--progress__2 {
    animation: design-2 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-2 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

.skills__design--progress__3 {
    animation: design-3 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-3 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

.skills__design--progress__4 {
    animation: design-4 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-4 {
    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}

.skills__coding--progress__1 {
    animation: coding-1 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-1 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

.skills__coding--progress__2 {
    animation: coding-2 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-2 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.skills__coding--progress__3 {
    animation: coding-3 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-3 {
    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}

.skills__coding--progress__4 {
    animation: coding-4 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-4 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}
