@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  box-sizing: border-box;
  font-size: 62.5%;
  /************ Custom Properties ***********/
}
* {
  margin: 0;
  padding: 0;
}
.side-nav-item {
  width: calc(3vh + 3vw);
}
